.w100prc {
    width: 100%;
}

.txt-input {
    padding: 3px 7px;
}

@media (max-width: 370px),
(min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 330px) {
  .btn {
    padding: 0.6rem 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-3 {
    width: auto !important;
    padding: 0.6rem 1rem;
  }
}

.notifyjs-bootstrap-wrap-spaces {
  white-space: normal !important;
  word-break: break-word;
}

div.form-group.w100prc {
  position: relative;
}

div.form-group.w100prc div.notifyjs-wrapper {
  width: 100%;
}

div.form-group.w100prc div.notifyjs-container {
  margin-bottom: 1rem;
}

.file-input .close {
  display: block;
}

.submit-wrapper .alert {
  width: 100%;
}

.alert span[data-notify='message'] {
  word-break: break-word;
}